html {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13pt;
    /*background-color: #84CEEB;*/
    background-repeat: repeat 50% 50%;
    padding-top: auto;
    padding-right: auto;
    padding-bottom: auto;
    padding-left: auto;
    margin: 15px auto 15px auto;
    height: 100%;
}
.bg-image {
    background-image: url("https://media.discordapp.net/attachments/379818164634255362/512194529223507969/background-2076334_960_720.png?width=894&height=671");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #ECA2EC;
}
h1 {
    color: rgb(45, 100, 200);
    text-align: center;
}
p {
    font-family: verdana;
    font-size: 20px;
}
